{% extends "base.html" %}
{% block is_predict %}nav-link{% endblock %}
{% block is_trend %}nav-link active{% endblock %}
{% block content %}
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">歷史統計資料</h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- line chart  -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 trend">
                        <div class="card">
                            <h5 class="card-header">成交筆數</h5>
                            <div id='total_count_line_div' class="card-body">
                                <canvas id="total_count_line"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 trend">
                        <div class="card">
                            <h5 class="card-header">平均總價走勢</h5>
                            <div id='mean_total_price_line_div' class="card-body">
                                <canvas id="mean_total_price_line"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 trend">
                        <div class="card">
                            <h5 class="card-header">平均每坪單價走勢</h5>
                            <div id='mean_unit_price_line_div' class="card-body">
                                <canvas id="mean_unit_price_line"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 trend">
                        <div class="card">
                            <h5 class="card-header">平均坪數走勢</h5>
                            <div id='mean_area_line_div' class="card-body">
                                <canvas id="mean_area_line"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 trend">
                        <div class="card">
                            <h5 class="card-header">平均建築坪數走勢</h5>
                            <div id='mean_building_area_line_div' class="card-body">
                                <canvas id="mean_building_area_line"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 trend">
                        <div class="card" id='main_use_rate_card'>
                            <h5 class="card-header">歷年主要用途</h5>
                            <div id='main_use_rate_div' class="card-body">
                                <canvas id="main_use_rate"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">統計</h5>
                            <div class="card-body" id="button_class">
                                <button class="btn btn-info" type="button" onclick="send_data()">送出</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">季節選項</h5>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">季節</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" data-parsley-multiple="group1" data-parsley-errors-container="#error-container2" class="custom-control-input" onclick="area_all(this,'s')"><span class="custom-control-label">全選</span>
                                                </label>
                                            </td>
                                        </tr>
                                        {% for s in season %}
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" value="{{ s.category }}" name="s" data-parsley-multiple="group1" data-parsley-errors-container="#error-container2" class="custom-control-input"><span class="custom-control-label">{{ s.category }}</span>
                                                </label>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <h5 class="card-header">地區選項</h5>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">地區</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"></th>
                                            <td>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" data-parsley-multiple="group1" data-parsley-errors-container="#error-container2" class="custom-control-input" onclick="area_all(this,'a')"><span class="custom-control-label">全選</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            {% for a in area %}
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>
                                                <label class="custom-control custom-checkbox">
                                                    <input type="checkbox" value="{{ a.category }}" name="a" data-parsley-multiple="group1" data-parsley-errors-container="#error-container2" class="custom-control-input"><span class="custom-control-label">{{ a.category }}</span>
                                                </label>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
          
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2019 Concept. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
{% load staticfiles %}
<script src="{% static "js/trend.js" %}"></script>  

{% endblock %}
